/*通用样式*/

body {
    font-family: 微软雅黑;
}


/*全局性导航条样式*/

.head-nav {
    height: 48px;
    border-top: 4px #0D65B2 solid;
    border-bottom: 1px #eee solid;
}

.glyphicon {
    color: #0D65B2;
    font-size: 24px;
}

.head-nav-wrap {
    width: 1000px;
    margin: 0 auto;
    height: 48px;
    line-height: 48px;
}

.home {
    height: 48px;
    width: 200px;
    float: left;
}

.site-nav {
    height: 48px;
    width: 600px;
    text-align: right;
    float: right;
}

.site-nav span {
    margin: 0 10px;
}


/*新闻专题标题及摘要部分*/

.topic-abs {
    background-color: #f8f8f8;
    border-bottom: 4px #0D65B2 solid;
}

.topic-wrap {
    width: 1000px;
    margin: 0 auto;
}

.topic-title {
    background-image: url(../images/topic-bg.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 30px;
}

.topic-title h1 {
    font-size: 40px;
    color: #0D65B2;
    font-weight: bold;
    margin: 30px 0 20px 0;
}

.topic-title p {
    font-size: 16px;
}

.abs {
    padding-left: 30px;
    padding-bottom: 10px;
}

.abs p {
    font-size: 16px;
    line-height: 1.5em;
}


/*专题主体部分样式*/

.container {
    width: 1000px;
    margin: 0 auto;
}

h2 {
    font-size: 22px;
    background-image: url(../images/h2-bg.png);
    height: 40px;
    padding-left: 20px;
}
